body {
    background: black;
    color: white;
}

.navbar {
    background: #404040;
}

.navbar ul {
    display: flex;
    justify-content: start;
    padding: 20px, 10px;

}
.navbar ul li {
    list-style: none;
    padding-left: 30px;
}

.navbar ul li a {
    color: white
}
.navbar ul li a:hover {
    color: aquamarine;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
}

.card {
    background: white;
    color: black;
    padding: 20px;
    margin-bottom: 2px;
}

.card a h3 {
    color: black;
    }

.input {
        background: wheat;
        padding: 10px;
        text-align: center;
        display: block;
    }