<!DOCTYPE html>
<html>
<head>
    <title>Acerca de nuestro proyecto Django</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Acerca de nuestro proyecto Django</h1>
    
    <p>¡Bienvenido a la página de "Acerca de" de nuestro proyecto Django!</p>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit repellendus atque odit labore facilis, recusandae quibusdam itaque magnam ducimus quas veniam assumenda numquam quisquam autem odio facere quaerat iste vitae?</p>
    
    <p>En esta página, queremos compartir más información sobre nuestro proyecto y su propósito.</p>
    
    <h2>Misión</h2>
    <p>Nuestra misión es...</p>
    
    <h2>Visión</h2>
    <p>Nuestra visión es...</p>
    
    <h2>Equipo</h2>
    <p>Nuestro equipo está compuesto por...</p>
    
    <h2>Contacto</h2>
    <p>Si tienes alguna pregunta o comentario, no dudes en ponerte en contacto con nosotros a través de...</p>
    
    <p>¡Gracias por visitar la página de "Acerca de" de nuestro proyecto!</p>
    <p> Creado por {{username}}</p>
    {% endblock %}
</body>
</html>
